@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding: 70px 0px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  color: #061e7d;
  text-align: center;
  margin-bottom: 10px;
}

.section__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #061e7d;
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
a {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .header__container {
    height: 120px;
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
  .logo__icon {
    width: 100px;
    height: 100px;
  }
  .logo__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo__text1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #104eab;
  }
  .logo__text2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #104eab;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .nav-link__tel,
  .nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24/16;
    letter-spacing: 0.03em;
    color: #635959;
  }
  .nav__link:hover,
  .nav__link:focus {
    color: #a422a7;
  }
  .nav__tel {
    margin-left: auto;
  }
  .nav-link__tel {
    color: #a422a7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
  .logo__icon {
    width: 100px;
    height: 100px;
  }
  .logo__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo__text1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #104eab;
  }
  .logo__text2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0, 2em;
    color: #104eab;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .nav-link__tel,
  .nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24/16;
    letter-spacing: 0.03em;
    color: #635959;
  }
  .nav__link:hover,
  .nav__link:focus {
    color: #a422a7;
  }
  .nav__tel {
    margin-left: auto;
  }
  .nav-link__tel {
    color: #a422a7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
  .logo__icon {
    width: 100px;
    height: 100px;
  }
  .logo__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo__text1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #104eab;
  }
  .logo__text2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0, 2em;
    color: #104eab;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .nav-link__tel,
  .nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24/16;
    letter-spacing: 0.03em;
    color: #635959;
  }
  .nav__link:hover,
  .nav__link:focus {
    color: #a422a7;
  }
  .nav__tel {
    margin-left: auto;
  }
  .nav-link__tel {
    color: #a422a7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
.hero {
  position: relative;
  background-color: #2f303a;
  max-width: 1600px;
  overflow: hidden;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 42, 111, 0.6)), to(rgba(15, 42, 111, 0.88))), url("../../image/background.jpg");
  background-image: linear-gradient(rgba(15, 42, 111, 0.6), rgba(15, 42, 111, 0.88)), url("../../image/background.jpg");
}

.ellipse1 {
  position: absolute;
  left: -200px;
  bottom: -190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left, bottom;
  background-image: url("../../image/ellipse 3.png");
}

.ellipse2 {
  position: absolute;
  top: -300px;
  right: -300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top, right;
  background-image: url("../../image/ellipse 4.png");
}

.hero__content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 700;
  font-size: 55px;
  color: #fff;
  margin-bottom: 10px;
}

.hero-title__sub {
  font-weight: 700;
  font-size: 45px;
  color: #fff;
  margin-bottom: 25px;
}

.hero__text {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-bottom: 50px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  display: inline-block;
  padding: 12px 22px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #d9d9d9;
  color: #1a1616;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover,
.button:focus {
  background-color: #a422a7;
  color: #fff;
}

.preference__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.preference__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc((100% - 100px) / 3);
      flex-basis: calc((100% - 100px) / 3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__svg {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
}

.preference__title {
  color: #061e7d;
  text-align: center;
  margin-bottom: 12px;
}

.preference__text {
  color: #1a1616;
  text-align: center;
}

.tariffs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.tariffs__item {
  max-width: 281px;
  height: auto;
  padding: 50px 20px;
  background-color: #e2e5e8;
  -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  -ms-flex-preferred-size: calc((100% - 100px) / 3);
      flex-basis: calc((100% - 100px) / 3);
  position: relative;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__ellipse {
  position: absolute;
  top: -100px;
  left: -100px;
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.3));
}

.icon__svg {
  margin-bottom: 10px;
}

.tariffs__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.7;
  color: #061e7d;
  margin-bottom: 10px;
}

.tariffs__price {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.7;
  color: #1a1616;
  margin-bottom: 10px;
}

.tariffs__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #1a1616;
  margin-bottom: 30px;
}

.button__connect {
  display: inline-block;
  padding: 12px 35px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #2c4da1;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button__connect:hover,
.button__connect:focus {
  background-color: #752ca6;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.services__item:not(:last-child) {
  margin-bottom: 10px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}

.services__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  color: #1a1616;
}

.baner {
  position: relative;
  background-color: #2f303a;
  max-width: 1600px;
  overflow: hidden;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(33, 61, 163)), to(rgb(164, 34, 167)));
  background-image: linear-gradient(to right rgb(34, 48, 122), rgb(33, 61, 163), rgb(164, 34, 167));
}

.icon__baner {
  left: -100px;
  bottom: -100px;
  z-index: 2;
  display: block;
  position: absolute;
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
}

.baner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 50px 0px;
}

.baner__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.baner__texts {
  margin-bottom: 95px;
}

.baner__text1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.7;
  color: #fff;
}

.baner__text2 {
  font-weight: 900;
  font-size: 55px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  color: #00a5ea;
  margin-bottom: 30px;
}

.baner__text-discount {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.7;
  color: #752ca6;
  position: relative;
  display: block;
  padding: 15px 20px;
  margin-bottom: 40px;
  background-color: #e2e5e8;
}

.baner__text3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 28px;
}

.baner__content-action {
  text-align: left;
}

.baner__text-action {
  text-align: left;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.8;
  letter-spacing: 0.09em;
  color: #fff;
}

.baner__img {
  display: block;
  left: auto;
}/*# sourceMappingURL=main.css.map */