@charset "UTF-8";
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    max-width: 540px;
    padding: 0px 20px;
    font-family: "Monserrat", sans-serif, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
  .section {
    width: 100%;
    display: block;
    padding-top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 2000px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: #06daf9;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 70px;
  letter-spacing: 0.05em;
}

.section__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #d5d2d2;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: "Monserrat", sans-serif, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
a {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*#animated-body {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}*/
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #092695;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.particles-js-canvas-el {
  position: fixed;
  top: 0px;
  z-index: 2;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgb(9, 38, 149);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0px;
  padding: 0;
  margin: auto;
}

/*@media screen and (min-width: 320px) {
    body {
        background-image: url('../../image/фон-1200.png');
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    body {
        	background-image: url("../../image/фон-768.png");
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../../image/фон-1200.png');
    }
}*/
.container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1400px;
}

@media screen and (min-width: 320px) {
  .header {
    position: fixed;
    background-color: #092695;
    z-index: 3;
    width: 100%;
    height: 80px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .header__inner {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: transparent;
    font-size: 15px;
  }
  .header__container {
    gap: 0px;
  }
  .logo__content {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .logo__icon {
    width: 50px;
  }
  .logo__text1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #06daf9;
  }
  .logo__text2 {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.5;
    color: #06daf9;
    display: none;
  }
  .logo__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .icon__phone {
    width: 30px;
    height: auto;
  }
  .header__nav {
    display: none;
  }
  .nav-link__tel {
    font-weight: 700;
    font-size: inherit;
    line-height: 1.2;
    letter-spacing: 0.1em;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .nav__tel {
    display: none;
  }
  .icon-open {
    width: 40px;
    height: 40px;
  }
  .js-open-menu {
    width: 30px;
    padding: 10px 0;
    display: block;
    font-size: 0;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 1;
  }
  .button__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #06daf9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .button__item::before {
    top: -8px;
  }
  .button__item::after {
    bottom: -8px;
  }
  .button__item::before,
  .button__item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #06daf9;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform 0.2s linear;
  }
  .icon__menu {
    width: 40px;
    height: 40px;
    fill: #212121;
    top: 21px;
    right: 25px;
  }
  .menu__container {
    background: linear-gradient(180deg, rgb(22, 65, 236) 0%, rgb(6, 30, 125) 100%);
    border: 0.05px solid rgba(103, 206, 239, 0.1);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);*/
    border-radius: 4px;
    z-index: 2;
    padding: 30px;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease;
  }
  .js-menu-container {
    display: none;
  }
  .js-close-menu {
    position: absolute;
    display: block;
    cursor: pointer;
    right: 25px;
    top: 21px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
  }
  .icon-close {
    width: 70px;
    height: auto;
    top: 21px;
    right: 25px;
  }
  .mobile-menu__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }
  .mobile__nav {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .mobile-nav__item:notl {
    margin-bottom: 36px;
  }
  .mobile-nav__link {
    position: relative;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.17;
    color: #fff;
  }
  .mobile-nav__link:hover {
    color: #06daf9;
  }
  .client {
    position: absolute;
    right: 80px;
    display: flex;
    align-items: center;
  }
  .client__img {
    width: 30px;
    height: auto;
  }
  .client__text {
    display: none;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding-left: 5px;
  }
  .user__backroung {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ddedf6;
  }
  .user__description {
    position: absolute;
    top: 150px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%);
  }
  .user__text {
    color: #06daf9;
    font-size: 30px;
    text-align: center;
    line-height: 1.7;
  }
}
@media screen and (min-width: 450px) {
  .client__text {
    display: inline-block;
  }
  .logo__text2 {
    display: block;
  }
  .client {
    right: 100px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    gap: 0px;
  }
  .logo__text1 {
    font-size: 15px;
  }
  .logo__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__link {
    font-weight: 400;
    font-size: inherit;
    line-height: 24/16px;
    letter-spacing: 0.15em;
    color: #fff;
  }
  .nav__tel {
    display: flex;
    position: absolute;
    right: 250px;
    font-size: 14px;
  }
  /*  .menu__container {
      display: none;
  }*/
}
@media screen and (min-width: 1200px) {
  .nav__tel {
    position: absolute;
    display: inline-block;
    right: 120px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .js-open-menu {
    display: none;
  }
  .nav__tel {
    display: inline-block;
    position: relative;
    right: 0px;
  }
  .logo__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .client {
    position: relative;
    right: 0px;
  }
  .client__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) {
  .slide {
    display: none;
    width: 100%;
    text-align: center;
  }
  .slider__container {
    width: 100%;
    overflow: hidden;
    /*  background-image: linear-gradient(to left, rgba(5, 30, 125), rgba(9, 38, 149));*/
    height: 600px;
  }
  .slider-inner__container {
    display: flex;
  }
  .dots {
    position: absolute;
    left: 50%;
    top: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__container {
    width: 100%;
    overflow: hidden;
  }
  .slider-inner__container {
    display: flex;
    height: 700px;
  }
  .slide {
    display: none;
    width: 100%;
    text-align: center;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #0f0a4e;
    border: none;
    padding: 10px;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .dots {
    text-align: center;
    margin-top: 20px;
  }
  .dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #150e75;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  .active {
    background-color: #06daf9;
  }
}
@media screen and (min-width: 320px) {
  .television {
    width: 100%;
  }
  .television__inner {
    display: block;
  }
  .television__description {
    display: flex;
    flex-direction: column;
    padding: 100px 0px 130px 0px;
    position: relative;
    text-align: center;
    align-items: center;
  }
  .television__title {
    position: relative;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #06daf9;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .television__span {
    color: #06daf9;
    font-size: 40px;
    font-weight: 700;
  }
  .television__list {
    position: relative;
    text-align: left;
  }
  .wrap-television__button {
    margin-bottom: 50px;
  }
  .television__button {
    display: inline-block;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    /*background: linear-gradient(to top left,#0033FD, #67CEEF);*/
    background-color: #06daf9;
    color: #2c4da1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .television__button:hover,
  .television__button:focus {
    background-color: #30e7ed;
    transform: scale(1.02);
  }
  .television__text2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.1em;
    color: rgb(203, 198, 198);
    position: relative;
    left: 20px;
  }
  .television__item::before {
    content: "✓";
    display: inline-block;
    position: absolute;
    color: #00a5ea;
  }
  .television__wrap-img {
    position: relative;
    display: none;
  }
  .television__text {
    position: relative;
    bottom: 100px;
    right: -150px;
    color: #fff;
    font-size: 25px;
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .television__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .television__text {
    display: block;
  }
  .internet-connection__description {
    flex-direction: column;
  }
  .television__description {
    display: flex;
    flex-direction: column;
    padding: 120px 0px 0px 0px;
    text-align: left;
    align-items: start;
  }
  .television__wrap-img {
    display: block;
    max-width: 350px;
    right: 0px;
  }
  .television__text {
    bottom: -40px;
    right: -180px;
    font-size: 17px;
  }
  .television__title {
    position: relative;
    font-family: "Montserrat";
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #ebf1f5;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .television__wrap-img {
    max-width: 700px;
    top: 50px;
    justify-content: start;
  }
  .television__text {
    bottom: 100px;
    right: -150px;
    font-size: 25px;
  }
  .television__description {
    padding: 120px 0px 0px 0px;
  }
  .television__inner {
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .television__title {
    font-size: 30px;
  }
  .television__list {
    display: block;
  }
}
@media screen and (min-width: 320px) {
  .wrap-page {
    background-color: rgba(9, 38, 149, 0.7);
  }
  .hero {
    justify-content: center;
    background-repeat: no-repeat;
    background-position: right;
    flex: 1;
    margin: 0 auto;
  }
  .hero__content {
    display: block;
  }
  .hero__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .hero__description {
    display: flex;
    flex-direction: column;
    padding: 100px 0px 70px 0px;
    position: relative;
    text-align: center;
    align-items: center;
  }
  .hero__title {
    font-weight: 700;
    font-size: 40px;
    color: #06daf9;
    font-family: "Montserrat";
    margin-bottom: 5px;
    letter-spacing: 0.05em;
  }
  .hero-title__sub {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
    color: #d5d2d2;
    margin-bottom: 5px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: "Montserrat";
  }
  .hero__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 30px;
  }
  .hero__buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .button {
    display: inline-block;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    background-color: #06daf9;
    color: #2c4da1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button:hover,
  .button:focus {
    background-color: #30e7ed;
    transform: scale(1.02);
  }
  .hero__wrap-img {
    display: none;
  }
  .hero__img {
    max-width: 400px;
    width: 100%;
  }
  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    width: 70px;
    height: auto;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero__inner {
    display: flex;
    align-items: start;
    text-align: start;
    justify-content: space-between;
  }
  .hero__description {
    display: flex;
    flex-direction: column;
    padding: 150px 0px 50px 0px;
    text-align: left;
    align-items: start;
  }
  .hero__buttons {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
  }
  .hero__wrap-img {
    padding-top: 70px;
    display: block;
  }
  .hero__img {
    max-width: 400px;
  }
  .ellipse3 {
    top: -500px;
    right: -600px;
    display: block;
  }
  .svg__icon1 {
    left: -100px;
    top: 60px;
  }
  .svg__icon2 {
    right: -100px;
  }
}
@media screen and (min-width: 1200px) {
  .television__inner {
    display: flex;
    justify-content: space-between;
  }
  .hero__img {
    max-width: 600px;
  }
  .hero__buttons {
    justify-content: flex-start;
  }
  .hero__description {
    padding: 120px 0px 100px 0px;
  }
}
@media screen and (min-width: 320px) {
  .preference__section {
    width: 100%;
  }
  .preference__list {
    display: block;
  }
  .preference__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .preference__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-basis: calc((100% - 100px) / 3);*/
    align-items: center;
  }
  .preference__icon {
    font-weight: 900;
    font-size: 50px;
    color: #083284;
  }
  .preference__icon2 {
    display: block;
  }
  .preference__icon::after {
    content: attr(data-number); /* використання значення атрибута data-number як тексту псевдоелемента */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #000; /* колір обводки */
    -webkit-text-stroke: 2px #fff; /* ширина та колір обводки */
    text-stroke: 2px #fff; /* ширина та колір обводки */
  }
  .preference__number {
    margin-bottom: 30px;
    font-size: 120px;
    color: rgb(11, 71, 238);
  }
  .preference__title {
    color: #06daf9;
    text-align: center;
    padding-bottom: 5px;
  }
  .preference__text {
    max-width: 400px;
    color: #d5d2d2;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .preference__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: baseline;
  }
  .preference__item {
    flex-basis: calc(50% - 15px);
  }
  .preference__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .preference__text {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .preference__item {
    flex-basis: calc(25% - 15px);
  }
}
@media screen and (min-width: 320px) {
  .tariffs__section {
    width: 100%;
  }
  .tariffs__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tariffs__item {
    height: auto;
    width: 284px;
    padding: 50px 20px;
    display: flex;
    border-style: solid;
    background: linear-gradient(180deg, rgb(22, 65, 236) 0%, rgb(6, 30, 125) 100%);
    border: 0.05px solid #67CEEF;
    border-radius: 20px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tariffs__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.7;
    color: #fff;
    margin-bottom: 10px;
    align-items: baseline;
  }
  .tariffs__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.7;
    color: #fff;
    margin-bottom: 10px;
  }
  .tariffs__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #d5d2d2;
    margin-bottom: 30px;
  }
  .button__connect {
    display: inline-block;
    padding: 10px 45px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #06daf9;
    color: #2c4da1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
  }
  .button__connect:hover,
  .button__connect:focus {
    background-color: #06daf9;
  }
}
@media screen and (min-width: 768px) {
  .tariffs__list {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .tariffs__list {
    gap: 10px;
  }
  .tariffs__item {
    flex-wrap: nowrap;
  }
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services__item:not(:last-child) {
  margin-bottom: 10px;
}

.services__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}

.services__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
}

.services__align {
  color: #0e099f;
  opacity: 0.1;
}

@media screen and (min-width: 320px) {
  .details-section {
    width: 100%;
  }
  .details__description {
    font-family: "Montserrat";
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .details__internet {
    color: #2c4da1;
  }
  .wrap-details__internet {
    display: inline-block;
    text-align: left;
  }
  .wrap-details__cable-tv {
    display: inline-block;
  }
  .details__internet-text {
    line-height: 1.7;
    color: #fff;
    text-align: left;
  }
  .details__cable-tv {
    color: #2c4da1;
  }
  .details__cable-tv-title {
    margin-bottom: 20px;
    color: #0a90d8;
  }
  .details__internet-title {
    margin-bottom: 20px;
    color: #0a90d8;
  }
  .details__cable-tv-text {
    line-height: 1.7;
    color: #fff;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .details__description {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    text-align: left;
  }
}
@font-face {
  font-family: "deserta";
  src: local("deserta Regular"), local("deserta-Regular"), url(../fonts/deserta.woff2) format("woff2"), url(../fonts/deserta.woff) format("woff"), url(../fonts/deserta.eot) format("eot"), url(../fonts/deserta.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JournalSans";
  src: local("JournalSans Regular"), local("JournalSans-Regular"), url(../fonts/journalSans.woff2) format("woff2"), url(../fonts/JournalSans.woff) format("woff"), url(../fonts/JournalSans-Italic.woff) format("woff"), url(../fonts/JournalSans-Italic.ttf) format("ttf"), url(../fonts/JournalSans.eot) format("eot"), url(../fonts/JournalSans.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@media screen and (min-width: 320px) {
  .internet-connection {
    position: relative;
    overflow: hidden;
    width: 100%;
    right: 0;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .internet-connection__description {
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .internet-connection__container {
    width: 100%;
  }
  .internet-connection__img {
    position: relative;
    left: 0px;
  }
  .internet-connection__wrap-img {
    display: none;
  }
  .price__list {
    text-align: left;
  }
  .internet-connection__price {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .brand__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #06daf9;
    margin-bottom: 0px;
  }
  .internet__speed {
    font-size: 24px;
    line-height: 1.7;
    color: #0a90d8;
    margin-bottom: 10px;
  }
  .price__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .price__item::before {
    content: "✓";
    display: inline-block;
    position: absolute;
    color: #00a5ea;
  }
  .form__internet-connection {
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .form__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #06daf9;
    text-align: center;
    margin-bottom: 10px;
  }
  .form__text {
    font-size: 16px;
    line-height: 2;
    color: #d5d2d2;
    margin-bottom: 32px;
    max-width: 450px;
  }
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  select,
  .input {
    max-width: 400px;
    width: 100%;
    padding: 12px 15px;
    font-size: 15px;
    line-height: 1.3;
    color: #1a1616;
    border-radius: 50px;
    border: 1px solid #7DCAE4;
  }
  .button__form {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 120px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #06daf9;
    color: #2c4da1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button__form:hover,
  .button__form:focus {
    background-color: #30e7ed;
  }
  .smart__price {
    position: absolute;
    left: 75px;
    bottom: 25px;
  }
  .smart {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: #fff;
  }
  .smart__discount {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .internet-connection__description {
    flex-direction: column;
  }
  .internet-connection__wrap-img {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 0px;
    max-width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .internet-connection__description {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
    align-items: baseline;
  }
  .internet-connection__wrap-img {
    max-width: 500px;
  }
  .internet-connection__price {
    display: flex;
    flex-direction: column;
  }
  .brand__text {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .internet__speed {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
  .form__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  .form__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 32px;
    color: #0a90d8;
  }
}
@media screen and (min-width: 320px) {
  .wraper__address {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .address {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
  }
  .contacts__address {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #d5d2d2;
    margin-bottom: 30px;
  }
  .work__time {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #d5d2d2;
    margin-bottom: 10px;
  }
  .free__time {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #d5d2d2;
    margin-bottom: 30px;
  }
  .contacts__tel {
    margin-bottom: 30px;
    justify-content: center;
  }
  .contact__tel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #06daf9;
    text-align: center;
  }
  .social__list {
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
  .social__item {
    display: flex;
    align-items: center;
  }
  .social__icon {
    display: block;
    cursor: pointer;
  }
  .icon__facebook {
    display: block;
    width: 50px;
    height: 150px;
  }
  .wrap__map {
    max-width: 600px;
    width: 100%;
    display: block;
    border: 1px solid #06daf9;
  }
}
@media screen and (min-width: 1200px) {
  .wraper__address {
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    text-align: left;
  }
  .address {
    text-align: left;
  }
}
.footer__section {
  padding: 40px 0px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
}

@media screen and (min-width: 320px) {
  .thankyou__page {
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: #06daf9;
    top: 0px;
    margin: 0 auto;
    display: none;
  }
  .thankyou-page__inner {
    position: relative;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
    color: #2c4da1;
  }
  .thankyou-page__description {
    text-align: center;
  }
  .thankyou-page-logo__content {
    flex-direction: row;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .thankyou-page-logo__content {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
  .thankyou-page-logo__text1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
  }
  .thankyou-page-logo__text2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .thankyou-page__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 400px) {
  .thankyou-page__inner {
    padding: 100px 50px;
  }
}/*# sourceMappingURL=main.css.map */