@font-face {
    font-family: 'Ramona Bold';
    src: url('../Ramona-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Revans-Medium';
    src: url('/fonts/revans/Revans-Medium.ttf') format('truetype');
    src: url('/fonts/revans/Revans-Medium.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
