*,
::after,
::before {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
ul,
li,
a {
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

address {
	font-style: normal;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Monserrat", sans-serif;
	font-size: 16px;
	position: relative;
	justify-content: center;
	display: block;
	background-color: #083284;
   width: 100%;
   height: auto;
		max-width: 1600px;
	 top:0px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	
	@media screen and (min-width: 540px) {
		body {
	  background-image: url("../../image/lont-web\ 540.png");
		 }
		}
		body {
			background-image: url("../../image/lont-web\ 768.png");
			   }
			  
		@media screen and (min-width: 920px) {
			body {
		  background-image: url("../../image/lont-web\ 920.png");
			 }
			}
		@media screen and (min-width: 1200px) {
			body {
				background-image: url("../../image/lont-web.png");
			 }
			}

.container {
	margin: 0 auto;
	padding: 0px 15px;
}
