*,
::after,
::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
li,
a {
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*#animated-body {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}*/
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #092695;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.particles-js-canvas-el {
    position: fixed;
    top: 0px;
    background-attachment: fixed;
}

body {
    font-family: 'Montserrat', 'Ramona Bold', sans-serif;
    font-size: 16px;
    background-color: rgb(9, 38, 149);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0px;
    padding: 0;
    margin: auto;
}
@media screen and (min-width: 320px) {
    .container {
        margin: 0 auto;
        padding: 0px 25px;
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 920px) {
    .container {
        max-width: 920px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}
