$accent-color: #06daf9;
$second-color: #2c4da1;
$premium-color:#0a90d8;
$white-color: #fff;
$gray-color:#d5d2d2;
$card-button-color: #2c4da1;
$card-decoration-color: #00a5ea;
$background-color: #083284;
$textColor: #1a1616;
$titleFontH2: 32px;
$titleFont: 18px;
$text-font-size: 16px;
$transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);

