:root {
	--accent-color: #061e7d;
	--second-color: #752ca6;
	--white-color: #fff;
	--card-button-color: #2c4da1;
	--card-decoration-color: #00a5ea;
	--text-color: #1a1616;
	--title-font-h2: 32px;
	--title-font-size: 18px;
	--text-font-size: 16px;
	--transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
