.preference__list {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}
.preference__item {
	display: flex;
	flex-direction: column;
	flex-basis: calc((100% - 100px) / 3);
	align-items: center;
}
.icon__svg {
}
.preference__title {
	color: $accent-color;
	text-align: center;
	margin-bottom: 12px;
}
.preference__text {
	color: $textColor;
	text-align: center;
}
