@media screen and (min-width: 320px) {
	.wraper__address  {
		display: flex;
		flex-direction: column;
		gap:50px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

.address {
	@include flex2(flex, column, null);
	margin-top: 50px;
	text-align: center;
}
.contacts__address {
	@include font(600, 18px, 1.5, null);
	color: $gray-color;
	margin-bottom: 30px;
}
.work__time {
	@include font(500, 18px, 1.5, null);
	color: $gray-color;
	margin-bottom: 10px;
}
.free__time {
	@include font(600, 18px, 1.5, null);
	color: $gray-color;
	margin-bottom: 30px;
	
}

.contacts__tel {
	margin-bottom: 30px;
}
.contact__tel {
	@include flex(flex, center, center, 10px);
	@include font(600, 18px, 1.5, null);
	color: $accent-color;
}

.social__list {
	display: flex;
	gap: 20px;
	cursor: pointer;
}
.social__item {
	display: flex;
	align-items: center;
}
.social__icon {
	display: block;
	cursor: pointer;
}

.icon__facebook {
	display: block;
	width: 50px;
	height: 150px;
}
.wrap__map {
	max-width: 600px;
	display: block;
	border: 1px solid $accent-color;
}
}
@media screen and (min-width: 1200px) {
	.wraper__address  {
	flex-direction: row;
		gap:50px;
		justify-content: space-between;
		text-align: left;
	}
	.address {
	text-align: left;
}
}