.address {
	@include flex2(flex, column, flex-start);
	margin-top: 50px;
}
.contacts__address {
	@include font(600, 18px, 1.5, null);
	color: $textColor;
	margin-bottom: 30px;
}
.work__time {
	@include font(500, 18px, 1.5, null);
	color: $textColor;
	margin-bottom: 7px;
}
.free__time {
	@include font(600, 18px, 1.5, null);
	color: $second-color;
	margin-bottom: 30px;
}

.contacts__tel {
	margin-bottom: 30px;
}
.contact__tel {
	@include flex(flex, center, center, 10px);
	@include font(600, 18px, 1.5, null);
	color: #ca1561;
}

.social__list {
	display: flex;
	gap: 100px;
	cursor: pointer;
}
.social__item {
	display: flex;
	align-items: center;
}
