@media screen and (min-width: 320px) {
    .details-section {
        width: 100%;
    }
    .details__description {
        font-family: 'Montserrat';
        margin-top: 50px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .details__internet {
        color: $card-button-color;
    }
    .wrap-details__internet {
        display: inline-block;
        text-align: left;
    }
    .wrap-details__cable-tv {
        display: inline-block;
    }
    .details__internet-text {
        line-height: 1.7;
        color: $white-color;
        text-align: left;
    }
    .details__cable-tv {
        color: $card-button-color;
    }
    .details__cable-tv-title {
        margin-bottom: 20px;
        color: $premium-color;
    }
    .details__internet-title {
        margin-bottom: 20px;
        color: $premium-color;
    }
    .details__cable-tv-text {
        line-height: 1.7;
        color: $white-color;
        text-align: left;
    }
}
@media screen and (min-width: 768px) {
    .details__description {
        display: flex;
        flex-direction: row;
        gap: 0px;
        justify-content: space-between;
        text-align: left;
    }
}
@media screen and (min-width: 1200px) {
}
