.footer__section {
    background-color: rgb(9, 38, 149);
    padding: 40px 0px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copyright {
    font-size: 12px;
    color: $white-color;
    margin-right: 100px;
    display: none;
}
@media screen and (min-width: 768px) {
    .footer__copyright {
        display: block;
    }
}
@media screen and (min-width: 920px) {
    .footer__inner {
        gap: 200px;
        justify-content: space-between;
    }
}
