@media screen and (min-width: 320px) {
    .internet-connection {
        position: relative;
        overflow: hidden;
        width: 100%;
        right: 0;
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 0px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .internet-connection__description {
        padding: 70px 0px;
        @include flex(flex, null, space-between, null);
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .internet-connection__container {
        width: 100%;
    }

    .internet-connection__img {
        position: relative;
        left: 0px;
    }
    .internet-connection__wrap-img {
        display: none;
    }
    .price__list {
        text-align: left;
    }

    .internet-connection__price {
        @include flex2(flex, column, null, null);
        text-align: center;
    }
    .brand__text {
        @include font(700, 40px, 1.5, null);
        color: $accent-color;
        margin-bottom: 0px;
    }
    .internet__speed {
        @include font(null, 24px, 1.7, null);
        color: #0a90d8;
        margin-bottom: 10px;
    }
    .price__description {
        @include font(500, 16px, 1.5, null);
        color: $white-color;
        margin-bottom: 10px;
        padding-left: 20px;
    }
    .price {
        color: $accent-color;
        font-weight: 600;
    }
    .price__item::before {
        content: '\2713';
        display: inline-block;
        position: absolute;
        color: $card-decoration-color;
    }
    .form__internet-connection {
        text-align: center;
        position: relative;
        @include flex2(flex, column, center, null);
    }
    .form__title {
        @include font(700, 32px, 1.5, null);
        color: $accent-color;
        text-align: center;
        margin-bottom: 10px;
    }
    .form__text {
        @include font(null, 16px, 2, null);
        color: $gray-color;
        margin-bottom: 32px;
        max-width: 450px;
    }
    .form {
        position: relative;
        @include flex2(flex, column, center, 10px);
    }
    .mb {
        font-weight: 600;
    }
    select,
    .input {
        max-width: 400px;
        width: 100%;
        padding: 12px 15px;
        font-size: 15px;
        line-height: 1.3;
        color: $textColor;
        border-radius: 50px;
        border: 1px solid #7dcae4;
    }
    .button__form {
        display: inline-block;
        margin-top: 10px;
        padding: 15px 120px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: $accent-color;
        color: $second-color;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button__form:hover,
    .button__form:focus {
        background-color: #30e7ed;
    }
    .smart__price {
        position: absolute;
        left: 75px;
        bottom: 25px;
    }
    .smart {
        @include font(700, 50px, 1.5, 0.2em);
        color: $white-color;
    }
    .smart__discount {
        @include font(700, 30px, 1.5, null);
        color: $white-color;
    }
}
@media screen and (min-width: 768px) {
    .internet-connection__description {
        flex-direction: column;
    }

    .internet-connection__wrap-img {
        display: block;
        position: absolute;
        left: 30px;
        bottom: 0px;
        max-width: 250px;
    }
}
@media screen and (min-width: 920px) {
    .internet-connection__description {
        padding: 100px 0px;
        @include flex(flex, null, space-between, null);
        flex-direction: row;
        gap: 70px;
        align-items: baseline;
    }
}
@media screen and (min-width: 1200px) {
    .internet-connection__wrap-img {
        max-width: 500px;
    }

    .internet-connection__price {
        @include flex2(flex, column, null, null);
    }
    .brand__text {
        font-weight: 500;
        font-size: 50px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .internet__speed {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.7;
        margin-bottom: 20px;
    }
    .form__title {
        @include font(500, 35px, 1.5, null);
        margin-bottom: 25px;
    }
    .form__text {
        @include font(700, 18px, 1.7, null);
        margin-bottom: 32px;
        color: #0a90d8;
    }
}
