.internet-connection {
	position: relative;
	z-index: 1;
	background-color: #2f303a;
	max-width: 1600px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: 100px 0px;
	background-image: linear-gradient(rgb(6, 30, 125), rgb(60, 96, 189));
}
.elipse__form {
	position: absolute;
	left: -90px;
	bottom: -200px;
}
.internet-connection__description {
	align-content: center;
	@include flex(flex, baseline, space-between, null);
}
.internet-connection__price {
	@include flex2(flex, column, null);
}
.brand__text {
	@include font(700, 70px, 1.5, null);
	color: $white-color;
	margin-bottom: 30px;
}
.internet__speed {
	@include font(700, 24px, 1.7, null);
	color: $card-decoration-color;
	margin-bottom: 27px;
}
.price__description {
	@include font(500, 16px, 1.5, null);
	color: $white-color;
	margin-bottom: 18px;
}
.form__internet-connection {
	@include flex2(flex, column, center);
	max-width: 500px;
}
.form__title {
	@include font(700, 25px, 1.7, null);
	color: $second-color;
	padding: 15px 20px;
	margin-bottom: 25px;
	background-color: #e2e5e8;
}
.form__text {
	@include font(500, 16px, 1.5, null);
	color: $white-color;
	text-align: center;
	margin-bottom: 32px;
}
.form {
	@include flex2(flex, column, center);
	gap: 10px;
}
.input {
	width: 400px;
	padding: 12px 10px;
	font-size: 15px;
	line-height: 1.3;
	color: $textColor;
	border-radius: 50px;
}
.button__form {
	display: inline-block;
	margin-top: 10px;
	padding: 15px 130px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	background-color: $second-color;
	color: $white-color;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.smart__price {
	display: inline-block;
	z-index: 2;
}
