.header__container {
	display: flex;
	gap: 30px;
	align-items: center;
}
.logo__content {
	display: flex;
	gap: 5px;
}
.header__nav {
	@include flex(flex, null, center, 30px);
}
.nav__link {
	@include fonts($fw: 500, $fs: 16px, $lh: 24px, $ls: 0.03em);
	color: #1a1616;
}
