.header__container {
	display: flex;
	gap: 30px;
	align-items: center;
}
.logo__content {
	display: flex;
	gap: 5px;
}
.header__nav {
	display: flex;
	justify-content: center;
	gap: 15px;
}
/*.nav__link {
}*/
