.header__container {
	display: flex;
	gap: 30px;
	align-items: center;
}
.logo__content {
	display: flex;
	gap: 5px;
}
.header__nav {
	display: flex;
	gap: 30px;
	justify-content: center;
}
.nav__link {
	font-size: $text-font-size;
	font-weight: 500;
	line-height: 1.5;
	color: $text-color;
}
