@media screen and (min-width: 320px) {
    .hero {
        position: relative;
        top: 50px;
        background-repeat: no-repeat;
	    background-position: right;
        flex:1;
        margin: 0 auto;
      
    }
    .hero__content {
     display:block;
    }
    .hero__inner {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 250px 0px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;

    }
    .hero__description {
        display: flex;
        flex-direction: column;
        padding: 100px 0px 130px 0px;
        position: relative;
        text-align: center;
        align-items: center;

    }
    .hero__title {
        @include font(700, 40px, null, null);
        color:$accent-color;
        font-family: "Montserrat";
        margin-bottom: 5px;
        letter-spacing: 0.05em;
    
       }
    .hero-title__sub {
        @include font(700,25px, 1.5, null);
        color: $gray-color;
        margin-bottom: 5px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-family: "Montserrat";
    }
    .hero__text {
        @include font(500, 16px, 1.5, null);
        color: #fff;
        margin-bottom: 30px;
    }
    .hero__buttons {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .button {
        display: inline-block;
        padding: 12px 30px;
        @include font(600, 16px, 1.5, null);
        text-align: center;
        background-color: $accent-color;
        color: $second-color;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover,
    .button:focus {
        background-color: #30e7ed;
        transform: scale(1.02);
    }

    
    .hero__wrap-img {
        display: none;
    }
    .hero__img {
        max-width: 400px;
    }
   
    #scrollToTopBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        background-color: transparent;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
@media screen and (min-width: 768px) {
    .hero {
        background-image: url("../../image/головний\ екран.png");
     }
    .hero__content {
        display: flex;
        justify-content: space-between;
       }
       .hero__inner {
        display: flex;
        align-items: start;
        text-align: start;
        justify-content: space-between;
       }
    .hero__description {
        display: flex;
        flex-direction: column;
         padding: 120px 0px 0px 0px;
        text-align: left;
        align-items:start;
    }
     .hero__buttons {
        display: flex;
        gap: 30px;
        justify-content:flex-start;
    }
    .hero__wrap-img {
        display: block;
    }
    .hero__img {
        max-width: 400px;
    }
  
    .ellipse3 {
        top: -500px;
        right: -600px;
        display: block;
    }
    .svg__icon1 {
        left: -100px;
        top: 60px;
    }
    .svg__icon2 {
        right: -100px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: url("../../image/головний\ екран.png");
     }
    .television__inner {
        display: flex;
        justify-content: space-between;
    }
    .hero__img {
        max-width: 600px;
    }
  
    .hero__buttons {
     justify-content:flex-start;
    }  
    .hero__description {
        padding: 120px 0px 0px 0px;

    }
    
}
@media screen and (min-width: 1400px) {
.hero {
   background-image: url("../../image/головний\ екран.png");
}
}