.tariffs__list {
	@include flex-wrap(flex, wrap, 10px);
}
.tariffs__item {
	max-width: 281px;
	height: auto;
	padding: 50px 20px;
	background-color: $background-color;
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	flex-basis: calc((100% - 100px) / 3);
	text-align: center;
	@include flex2(flex, column, center);
}
.tariffs__title {
	@include font(900, 18px, 1.7, null);
	color: $accent-color;
	margin-bottom: 10px;
}
.tariffs__price {
	@include font(700, 22px, 1.7, null);
	color: $textColor;
	margin-bottom: 10px;
}
.tariffs__text {
	@include font(500, 16px, 1.5, null);
	color: $textColor;
	margin-bottom: 30px;
}
.button__connect {
	display: inline-block;
	padding: 12px 35px;
	font-size: $text-font-size;
	text-align: center;
	text-decoration: none;
	background-color: #2c4da1;
	color: $white-color;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s;
}

.button__connect:hover,
.button__connect:focus {
	background-color: $second-color;
}
