.television {
    background-image: url("../../image/фон.png");
}
.television__inner  {
    display: flex;
    justify-content: space-between;
}
.television__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.television__description {
    padding: 100px 0px 130px 0px;
    position: relative;
    text-align: left;
}
.television__title {
    position: relative;
    font-family: "Roboto";
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: $white-color;
    text-transform: uppercase;
    font-size: 30px;
}
.television__span {
    color:#2b148f;
    font-size: 40px;

}
.television__list {
    position: relative;
    
}
.television__item {
    color: rgb(251, 251, 251);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.08em;
}
.television__wrap-img {
    position: relative;
    top:50px;
    max-width:700px;
}
.television__text {
    position: relative;
    bottom: 100px;
    right: -150px;
    color: $white-color;
    font-size: 25px;
}
