@media screen and (min-width: 320px) {
    .television {
        width: 100%;
    }
    .television__inner {
        display: block;
    }
    .television__description {
        display: flex;
        flex-direction: column;
        padding: 100px 0px 130px 0px;
        position: relative;
        text-align: center;
        align-items: center;
    }
    .television__title {
        position: relative;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.03em;
        color: $accent-color;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .television__span {
        color: $accent-color;
        font-size: 40px;
        font-weight: 700;
    }
    .television__list {
        position: relative;
        text-align: left;
    }
    .wrap-television__button {
        margin-bottom: 50px;
    }
    .television__button {
        display: inline-block;
        padding: 12px 30px;
        @include font(600, 16px, 1.5, null);
        text-align: center;
        /*background: linear-gradient(to top left,#0033FD, #67CEEF);*/
        background-color: $accent-color;
        color: $second-color;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .television__button:hover,
    .television__button:focus {
        background-color: #30e7ed;
        transform: scale(1.02);
    }

    .television__text2 {
        @include font(500, 16px, 1.7, 0.1em);
        /*  color: rgb(203, 198, 198);*/
        color: #fff;
        position: relative;
        left: 20px;
    }

    .television__item::before {
        content: '\2713';
        display: inline-block;
        position: absolute;
        color: $card-decoration-color;
    }

    .television__wrap-img {
        position: relative;
        display: none;
    }
    .television__text {
        position: relative;
        bottom: 100px;
        right: -150px;
        color: $white-color;
        font-size: 25px;
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .television__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .television__text {
        display: block;
    }

    .internet-connection__description {
        flex-direction: column;
    }
    .television__description {
        display: flex;
        flex-direction: column;
        padding: 120px 0px 0px 0px;
        text-align: left;
        align-items: start;
    }

    .television__wrap-img {
        display: block;
        max-width: 350px;
        right: 0px;
    }
    .television__text {
        bottom: -40px;
        right: -180px;
        font-size: 17px;
    }

    .television__title {
        position: relative;
        font-family: 'Montserrat';
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 0.08em;
        color: #ebf1f5;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .television__wrap-img {
        max-width: 700px;
        top: 50px;
        justify-content: start;
    }
    .television__text {
        bottom: 100px;
        right: -150px;
        font-size: 25px;
    }
    .television__description {
        padding: 120px 0px 0px 0px;
    }
    .television__inner {
        display: flex;
        justify-content: space-between;
        gap: 0px;
    }
    .television__title {
        font-size: 30px;
    }
}
